
body { font-family: Tahoma; direction: rtl; margin: 40px; background: #f4f4f4; }
header, footer { background: #333; color: #fff; padding: 15px; text-align: center; }
nav a { color: #00ffff; margin: 0 10px; text-decoration: none; }
h2 { color: #333; }
ul { background: white; padding: 20px; border-radius: 10px; }
